:root {
    --font-style: 'Raleway', 'Domine', 'Merriweather', sans-serif;

    --pri-red: #ef5c7fff;
    --pri-blue: #6696ffff;

    --cota-red: #af272f;
    --cota-blue: #00205b;
    
    --cota-gray: #797c81;
    --cota-teal: #4298b5;
    --cota-green: #00ae42;
    --cota-yellow: #ffc708;
    --cota-purple: #702b63;

    --boldest: 800;
    --bold: 700;

    --h1-size: 23pt;
    --h2-size: 18pt;
}

* {
    font-family: var(--font-style);
    background-color: #4298b5;
}

img {
    width: 300px;
}

h1 {
    font-weight: var(--boldest);
    color: white;
    background-color: black;
    font-size: var(--h1-size);
    text-align: center;
}

h2 {
    font-weight: var(--bold);
    color: black;
    font-size: var(--h2-size);
    text-align: center;
}

h3 {
    font-weight: var(--bold);
    color: black;
    font-size: 14pt;
    text-align: center;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* Navbar Style Section */
nav {
    position: sticky;
    top: 0;
    z-index: 1001; /* Put above Leaflet map */
}

#nav_wrapper ul {
    list-style-type: none;
}

#nav_wrapper ul li a {
    color: white;
    font-size: 28pt;
    font-weight: var(--boldest);
}

/* Title Style Section */
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

#title img {
    height: 125px;
    width: auto;
}

/* Location Style Section */
#locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    background-color: white;
}

/* Map Style Section */
#map {
    height: 500px;
}

/* Footer Style Section */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
}

footer p {
    padding-top: 1.75rem;
}

.footer_link_item h2 {
    margin-bottom: 1rem;
}

.footer_link_item a {
    padding: 5px 0;
    color: black;
    font-size: 12pt;
    font-weight: 500;
}

#social_icons {
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    padding-top: 2rem;
}

#social_icons a i {
    font-size: 30pt;
    color: black;
}