:root {
    --font-style: 'Raleway', 'Domine', 'Merriweather', sans-serif;

    --pri-red: #ef5c7fff;
    --pri-blue: #6696ffff;

    --cota-red: #af272f;
    --cota-blue: #00205b;
    
    --cota-gray: #797c81;
    --cota-teal: #4298b5;
    --cota-green: #00ae42;
    --cota-yellow: #ffc708;
    --cota-purple: #702b63;

    --boldest: 800;
    --bold: 700;

    --transition-speed: 0.3s;

    --h2-size: 18pt;
}

* {
    font-family: var(--font-style);
    scrollbar-color: var(--cota-red) transparent;
}

body {
    background: linear-gradient(180deg, var(--pri-blue), white, var(--pri-red));
}

img {
    width: 300px;
}

h1 {
    font-weight: var(--boldest);
    color: white;
    background-color: black;
    font-size: 23pt;
    text-align: center;
    margin: 5rem 0;
    padding: 1rem;
    border-radius: 45px;
}

h2 {
    font-weight: var(--bold);
    color: black;
    font-size: var(--h2-size);
    text-align: center;
    background-color: white;
    padding: 1rem;
    border-radius: 30px;
    width: auto;
}

h3 {
    font-weight: var(--bold);
    color: black;
    font-size: 14pt;
    text-align: center;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* Navbar Style Section */
nav {
    position: sticky;
    top: 0;
    z-index: 1001; /* Put above Leaflet map */
    padding-top: 5px;
}

#nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem 1rem;
    padding-bottom: 1rem;
    background-color: var(--cota-blue);
    border-radius: 15px;
}

#nav_wrapper ul {
    list-style-type: none;
    position: fixed;
    top: 105px;
    left: -100%;
    max-width: 30.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
    transition: var(--transition-speed);
    border-radius: 15px;
    background-color: var(--cota-blue);
}

#nav_wrapper ul.active {
    left: 50%;
    transform: translateX(-50%);
}

#nav_wrapper ul li {
    padding: 1rem 0;
}

#nav_wrapper ul li a {
    color: white;
    font-size: 28pt;
    font-weight: var(--boldest);
    transition: var(--transition-speed);
}

#nav_wrapper ul li a:hover {
    color: var(--cota-yellow);
    transition: var(--transition-speed);
}

/* Hamburger Style */
.nav_toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 6px;
}

#mobile_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bar {
    width: 51px;
    height: 10px;
    background-color: white;
    margin: 4px 0;
    transition: var(--transition-speed);
}

.nav_toggle.active .bar {
    background-color: var(--cota-red);
}

.nav_toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-19px, 6px); 
}

.nav_toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.nav_toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-19px, -6px);
}


/* Title Style Section */
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
}

#title img {
    height: 125px;
    width: auto;
}

/* Location Style Section */
#locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    background-color: transparent;
}

.column a {
    position: relative;
    display: inline-block;
}

.column a img {
    margin: 10px 0;
    border-radius: 10px;
}

.column a p {
    transition: opacity 0.3s ease;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 14px;
    color: black;
    padding: 10px;
    font-size: 12pt;
    opacity: 0;
}

.column a:hover p {
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#uber {
    height: 75px;
    width: auto;
}

#cota {
    height: 85px;
    width: auto;
}

#yellow_cab {
    height: 225px;
    width: auto;
}

#taxi_service {
    height: 150px;
    width: auto;
}

#walk_score {
    height: 85px;
    width: auto;
}

#lyft {
    height: 130px;
    width: auto;
}

/* Services Style Section */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#services div a img {
    margin: 30px 0;
}

/* Map Style Section */
#maps {
    padding: 8rem 0;
}

#maps div h2 {
    max-width: 321px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#map {
    height: 500px;
}

/* Footer Style Section */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
}

footer p {
    padding-top: 1.75rem;
    padding-bottom: 2.5rem;
}

.footer_link_item h2 {
    margin-bottom: 1rem;
}

.footer_link_item a {
    padding: 5px 0;
    color: black;
    font-size: 12pt;
    font-weight: 500;
    transition: var(--transition-speed);
}

.footer_link_item a:hover {
    color: var(--cota-blue);
    transition: var(--transition-speed);
}

#social_icons {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 2rem 0;
}

#social_icons a i {
    font-size: 45pt;
    color: black;
    transition: var(--transition-speed);
}

#social_icons a i:hover {
    color: var(--cota-blue);
    transition: var(--transition-speed);
}

@media (min-width: 1000px) {
    h1 {
        font-size: 32pt;
    }

    h2 {
        font-size: 22pt;
    }

    h3 {
        font-size: 18pt;
    }

    /* Nav Desktop */
    .nav_toggle {
        display: none;
    }

    #mobile_wrapper {
        width: auto;
    }

    #nav_wrapper a {
        justify-content: flex-start;
    }

    #nav_wrapper ul {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        text-align: right;
        justify-content: center;
        margin-top: 6px;
    }

    #nav_wrapper ul.active {
        left: auto;
    }

    #nav_wrapper ul li {
        padding: 0 1rem;
    }

    /* Title Desktop */
    #title img {
        height: 250px;
    }

    /* Location Desktop */
    #locations {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Maps Desktop */
    #maps {
        display: grid;
        grid-template-columns: 1fr, 1fr;
    }

    #map {
        height: 600px;
        width: 800px;
    }

    /* Footer Desktop */
    #footer_links_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    #social_icons {
        flex-direction: column;
        padding: 54.725px;
    }
}